body 
{
  background-color: gainsboro;
}
h1 
{
    color:yellow;
    text-transform: uppercase;
}
.maths 
{
    background-color: azure;
    border:1px solid black;
    font-size: 1.5rem;
}
.maths-item 
{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
